{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login/Register</title>
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login_register.css' %}">
</head>
<body>

    {% include 'navbar.html' %}

    <div class="tab-container">
        
        <div class="tab-buttons">
            <button id="login-tab" class="tab-btn active" onclick="showTab('login')">Login</button>
            <button id="register-tab" class="tab-btn" onclick="showTab('register')">Register</button>
        </div>

        <div id="login-form" class="tab-content active">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <label>Email:</label>
                <input type="text" name="username" placeholder="Enter Email" required />

                <label>Password:</label>
                <input type="password" name="password" placeholder="Enter Password" required />

                <input type="submit" value="Login" />
            </form>
        </div>

        <div id="register-form" class="tab-content">
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Register" />
            </form>
        </div>
    </div>

    <script src="{% static 'js/login_register.js' %}"></script>

</body>
</html>
