* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../images/charlottecampus.jpg");
    background-size: cover;
    background-position: center;
  }

  .container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); /* White background with transparency */
    padding: 50px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
  }
  
  header h1 {
    font-size: 3em;
    color: #006747; /* UNC Charlotte Green */
  }
  
  header .tagline {
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
  }
  
  .cta-container {
    margin-top: 50px;
  }
  
  .cta-button {
    background-color: #FFBC00; /* UNC Charlotte Gold */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #FF9F00; /* Slightly darker gold for hover effect */
  }
  
  .cta-button:focus {
    outline: none;
  }