{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar_old.css' %}">
<nav class="navbar">
    <h1 class="logo">NINER MARKET</h1>

    <div class="nav-icons">
        <a href="explore.html">
            <img src="{% static 'images/Home.png' %}" alt="home-icon" class="icon">Explore
        </a>
        <a href="#">
            <img src="{% static 'images/Community.png' %}" alt="community-icon" class="icon">Community
        </a>
        <a href="#">
            <img src="{% static 'images/Message.png' %}" alt="message-icon" class="icon">Message
        </a>
        <a href="#">
            <img src="{% static 'images/Sales.png' %}" alt="sales-icon" class="icon">Sell
        </a>
    </div>

    
    <img src="{% static 'images/profile.png' %}" alt="profile-icon" class="profile-container">
    
</nav>