<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href="{% static 'styles/navbar.css' %}">
    <title>Ninermarket</title>
</head>
<body>
<div class="navbar">
    <div class="nav-left">
        <a href="{% url 'home' %}" class="logo">
            NINER MARKET
        </a>
    </div>

    <!-- Center Nav bar links -->
    <div class="nav-center">
        <div class="nav-icons" id="navMenu">

        <!-- Nav bar links -->
            <a href="{% url 'explore' %}" class="{% if request.path == '/explore/' %}active{% endif %}">
                <img src="{% static 'images/icons/home.png' %}" alt="explore"> Explore
            </a>

            <a href="{% url 'community' %}" class="{% if request.path == '/community/' %}active{% endif %}">
                <img src="{% static 'images/icons/community.png' %}" alt="community"> Community
            </a>

            <a href="#" class="{% if request.path == '/messages/' %}active{% endif %}">
                <img src="{% static 'images/icons/message.png' %}" alt="messages"> Message
            </a>

            <a href="#" class="{% if request.path == '/create-listing/' %}active{% endif %}">
                <img src="{% static 'images/icons/Sales.png' %}" alt="create listings"> Create Listings
            </a>

            <!-- mobile login button -->
            <form action="#" method="get" class="mobile-login">
                <button type="submit" class="login-button">
                    Login/Signup
                </button>
            </form>
        </div>
    </div>

    <!-- Right Nav bar -->
    <div class="nav-right">
        <!-- Mobile hamburger menu -->
        <button class="hamburger" id="hamburger" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <!-- desktop login button -->
        <form action="#" method="get" class="desktop-login">
            <button type="submit" class="login-button">
                Login/Signup
            </button>
        </form>
    </div>
</div>
</body>
</html>

<script src="{% static 'js/navbar.js' %}"></script>